<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate a News Article with Natural Language Processing
    </title>
    <link rel="icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="logo">
            Sentiment Analysis API version 2.1
        </div>
        <div>
            Sentiment Analysis is MeaningCloud's solution for performing a detailed multilingual sentiment analysis of
            texts from different sources.
            <a href="https://www.meaningcloud.com/">Learn more</a>

        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="data" type="text" name="input" value="" placeholder="Enter your text here">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>

        <section>
            <div class="results">
                <strong>Evaluation Results:</strong>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Input</th>
                            <th>Score Tag</th>
                            <th>Agreement</th>
                            <th>Subjectivity</th>
                            <th>Confidence</th>
                            <th>Irony</th>
                        </tr>
                    </thead>
                    <tbody class="results_data">
                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <footer>
        <a href="https://github.com/dithiane" target="_blank">@2023 Dithiane</a>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>