<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate a News Article with Natural Language Processing
    </title>
    <link rel="icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="logo">
            Logo
        </div>
        <div class="navigation">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="data" type="text" name="input" value="" placeholder="Enter your text here">
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)"
                    onsubmit="return Client.handleSubmit(event)">
            </form>
        </section>

        <section>
            <strong>Form Results:</strong>
            <div id="results">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Input</th>
                            <th>Score Tag</th>
                            <th>Agreement</th>
                            <th>Subjectivity</th>
                            <th>Confidence</th>
                            <th>Irony</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="input"></td>
                            <td class="scoreTag"></td>
                            <td class="agreement"></td>
                            <td class="subjectivity">/td>
                            <td class="confidence"></td>
                            <td class="irony"></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</body>

</html>